.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App * {
  font-size: 20px;
  box-sizing: border-box;
}

.control-container {
  margin: 16px;
  display: grid;
  grid-template-columns: auto 150px auto;
  grid-gap: 8px;
}

.panda {
  font-size: 80px;
}
